body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
main {
    flex: 1;
}

.sidebar {
    position: fixed;
    right: -400px; 
    top: 0;
    width: 300px;
    height: 100%;
    background:white; 
    color: #1f1f1f;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.4s ease-in-out; 
    z-index: 9999; 
}

.sidebar.active {
    right: 0;
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: #175676;
    font-size: 20px;
    cursor: pointer;
}

/* Título do menu */
.sidebar h2 {
    margin-bottom: 20px;
}

/* Lista de links */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #1f1f1f;
    text-decoration: none;
    display: block;
    padding: 10px;
    background: rgba(75, 163, 195, 0.0);
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background: #4BA3C3;
    color:white;
}

.sidebar img{
    margin-bottom: 20px;
}

/* Botão de abrir menu */
.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10000; /* Garante que fica por cima */
}


.transparent{
    background-color:rgba(255, 255, 255, 0.05) ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    height: 100px;
}


header {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    background-image: url('imagens/fundo.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: auto;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    overflow: hidden;
    min-width: 320px;
    margin: 0 auto;
}
    

.header-icons {
  display: flex;
  align-items: center;
  margin-left: auto; /* empurra a div para o canto direito */
  
}


.header-icons span {
    cursor: pointer;
    font-size: 25px;
    color: white;
}


.divider {
    height: 20px;
    width: 1px;
    background: #ccc;
    margin: 0 10px;
}

.logo1 {
    max-width: 280px; /* Reduz o tamanho da logo */
    height: auto;
    align-self: center;
}

/* Banner */
#banner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    overflow: hidden;
}

#banner {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slide img {
    width: 60%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px;
    text-align: center;  
    border-radius: 5px;
}

.cta {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(175, 175, 175, 0.0);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    z-index: 10;
    font-size: 30px;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Links rápidos */
#quick-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    position: relative;
    top: -60px;
}

.link-card {
    background: #4BA3C3;
    color: white;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.link-card img {
    width: 45px;
    height: 45px;
    margin-left: 15px;
}

.link-text {
    font-weight: bold;
}


.link-card:hover {
    background: #1e3f7b;
}

.icon {
    font-size: 24px;
    filter: grayscale(1) contrast(2);
    opacity: 0.8;
}

/* Seção de destaques */
#highlights {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.highlights-container {
    display: flex;
    align-items: center;
    gap: 125px;
    position: relative;
    overflow: hidden;
    height: 380px;
    margin: 0 auto;
    max-width: 1200px;
}

.highlight-slide {
  display: none;
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.3s ease;
  justify-content: center;
  gap: 120px;
  margin: 0  auto;
}

.highlight-slide.active {
  display: flex;
  opacity: 1;
}

.highlight-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 68%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: auto;
    margin: 0 auto;
}

.highlight-card:hover {
  transform: translateY(-5px);
}

.highlight-card img {
    width: 100%;
    height: auto;
}

.highlight-info {
    padding: 15px;
    text-align: left;
}

.highlight-info .tag {
    background: #175676;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;

}

.highlight-info h3 {
    font-size: 18px;
    margin: 10px 0;
}

.highlight-info a {
    text-decoration: none;
    color: #175676;
    font-weight: bold;
}

/* Botões de navegação */
.prev-highlights, .next-highlights {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.prev-highlights { left: -30px; }
.next-highlights { right: -30px; }

/* Indicadores de rolagem */
.dots-container {
    margin-top: 50px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #BA324F;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-social {
    text-align: center;
    max-width: 300px;
}

.footer-social .social-icons img {
    max-width: 200px; 
    cursor: pointer;
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-around;
}

.footer-links .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-links a:hover {
    color: white;
}

.footer-map {
    text-align: left;
    max-width: 300px;
}

.footer-map p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-map iframe {
    width: 100%;
    height: 150px;
}

.map-button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.map-button:hover {
    background: white;
    color: black;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 20px;
    margin-top: 20px;
}

.footer-bottom img {
    width: 100px;
}


/* Produtos e Serviços */

.header2 {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    background-image: url('imagens/fundo.png');
    background-size: cover;
    background-position: center;
    height: 120px;
    width: auto;
}

.breadcrumb-section {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    height: 150px;
  }
  
  .breadcrumb {
    font-size: 14px;
    color: #175676;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #D62839;
    font-weight: 600;
    
  }
  
  .breadcrumb span {
    color: #555;
    margin: 0 5px;
  }
  
  .breadcrumb .active {
    color: #2c2c2c;
    font-weight: bold;
  }
  
  .page-title {
    font-size: 36px;
    color: #3a3a3a;
    font-weight: bold;
    margin: 0;
  }
  
  .letras-filtro {
  text-align: center;
  padding: 10px 0;
  color: white;
  background: none; /* remove fundo claro, se houver */
}

.filtros {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap; /* opcional, para quebrar em telas pequenas */
  }
  
  .input-busca {
    position: relative;
  }
  
  .input-busca input {
    padding: 8px 30px 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    color: #333333;
    width: 500px;
  }
  
  .icone-busca {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgb(0, 0, 0); /* aqui é o essencial */
    font-size: 16px; /* opcional, ajuste se quiser */
  }
  
  
  .select-canal select {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    color: #333;
    width: 350px;
  }
  

.letras-filtro {
  background-color: #f5f5f5;
  text-align: center;
  
}

.letras-filtro span {
  margin: 0 8px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.letras-filtro span:hover {
  color: #2c5aa0;
}
  
.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.dark-box {
    background-color: #175676;
    border-radius: 8px 8px 0 0;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
  
.store-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    background-color: #f5f5f5;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .store-card {
    padding-top: 20px;
    background: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;     
    width: 100%;
    height: 250px;           
    text-decoration: none;     
    color: inherit;            
    cursor: pointer;      
  }
  
  
  .store-card:hover {
    transform: translateY(-5px);
  }
  
  .store-card img {
    width: auto;
    height: 100px;
    margin-bottom: 15px;
  }
  
  .store-card h3 {
    font-size: 16px;
    margin: 25px 0 5px;
    color: #333;
  }
  
  .store-card .floor {
    font-size: 14px;
    color: #004aad;
    font-weight: 600;
  }
  
  .store-card .decricao {
    font-size: 13px;
    color: #555;
  }
    
  /* Responsividade para telas menores (tablet e celular) */
  @media screen and (max-width: 768px) {

    .header-container {
      flex-direction: row;
      align-items: center;
      height: auto;
      gap: 15px;
    }
  
    .logo1 {
      max-width: 100px;
    }

    header{
        height: 260px;
    }
    
    .logo{
    padding-left: 10px;
    padding-top: 40px;    
    }

    .header-icons {
      display: flex;
      align-items: center;
      margin-left: auto; /* empurra a div para o canto direito */
      padding-top: 40px;
      padding-right: 70px;
    }
  
    #banner {
      height: 150px;
    }
  
    .slide img {
      width: 100%;
    }
  
    #quick-links {
      flex-direction: column;
      align-items: center;
      top: 0;
      gap: 15px;
      padding: 20px 10px;
    }
  
    .link-card {
      width: 75%;
      height: 75%;
      height: auto;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
      padding: 20px;
    }
  
    .link-card img {
      width: auto;
      height: 100px;
      margin-bottom: 15px;
    }
  
    #highlights {
      padding: 130px 10px;
    }
  
    .highlights-container {
      flex-direction: column;
      height: auto;
      gap: 20px;
      height: 50%;
    }
  
    .highlight-card {
      width: 150px;
      height: 200px;
      margin: 10px;
    }
  
    .filtros {
      flex-direction: column;
      gap: 15px;
      padding: 10 15px;
    }
  
    .input-busca input,
    .select-canal select {
      width: 80%;
    }
  
    .container {
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
  
      .store-card {
        width: 80%;
        margin-bottom: 20px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .store-card img {
        width: auto;
        height: 100px;
        margin-bottom: 15px;
      }
  
  
    .footer-container {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-align: center;
    }
  
    .footer-links {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .footer-links .column {
      align-items: center;
    }
  
    .footer-map iframe {
      height: 200px;
    }
    
    .breadcrumb-section {
        right: 10px;
      }
    

    
  }
  
  @media screen and (max-width: 1066px) {
    .header-container {
      max-width: 100%;
      height: auto;
    }
  
    header {
      height: auto;
      background-size: cover;
      background-position: center;
    }
  
    .logo1 {
      max-width: 160px;
    }

    .header-icons {
      display: flex;
      align-items: center;
      margin-left: auto; /* empurra a div para o canto direito */
      padding-top: 40px;
      padding-right: 50px;
    }
  

    .logo{
      padding-left: 30px;
      padding-top: 40px;    
    }

      .store-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* duas colunas por linha */
        gap: 20px; /* espaço entre os cards */
        background-color: #f5f5f5;
        margin-bottom: 60px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
      }

      .breadcrumb {
        font-size: 14px;
        color: #175676;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-left: 10px;
        text-align: left;
      }
      
      .link-card {
        width: 75%;
        height: 40%;
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 10px;
        padding: 20px;
      }
    
      .link-card img {
        width: auto;
        height: 40px;
        margin-bottom: 15px;
      }

      #highlights {
        padding: 10px 0px 10px 0px;
      }
    
      .highlights-container {
        flex-direction: row;
        height: auto;
        gap: 6px;
        height: 50%;
        margin: 0 auto;
      }
    
      .highlight-card {
        width: 48%;
        height: 230px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      .highlight-card img {
        width: 100%;
        height: auto;
        max-height: 150px;
    }
    
    .highlight-info {
        padding: 10px;
        text-align: left;
    }
    
    .highlight-info .tag {
        background: #175676;
        color: white;
        font-size: 11px;
        padding: 5px 10px;
        border-radius: 15px;
        font-weight: bold;
    
    }
    
    .highlight-info h3 {
        font-size: 18px;
        margin: 10px 0;
    }

   h2 {
      font-size: 25px;
      margin: 10px 0;
      text-align: left;
      padding-left: 20px;
  }
    
    .highlight-info a {
        text-decoration: none;
        color: #175676;
        font-weight: bold;
    }

    .highlight-slide {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      justify-content: center;
      gap: 10px;
      margin: 0  auto;
    }

    .prev, .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(175, 175, 175, 0.0);
      color: rgba(175, 175, 175, 0.1);
      padding: 10px;
      cursor: pointer;
      border: none;
      z-index: 10;
      font-size: 30px;
  }
  



  }
  